@charset "UTF -8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
    --cor01:#A58A2C;
    --cor02:#A56E2C;
    --cor03:#a5522c;
    
}

*{
    margin: opx;
    padding: 0px;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color:var(--cor01);

}

header {
    color: white;
    text-align: center;
    padding: 10px;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 0px;
    text-transform: uppercase; /* transforma o texto em maiusculo*/
    font-variant: small-caps; /*todas as letras maiusculas porem as iniciais maiores*/
    font-size: 8vw;
}

header nav.links {
    text-align: left;
    padding: 10px;
}
header nav >a {
    color: white;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    font-weight: bold ; 
    transition-duration: .5s;
    padding: 5px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header footer a {
    text-decoration: none;
    font-weight: bolder; /* negrito*/
}

section {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em; /*espaçamento entre linhas*/
}

section.normal {
    background-color:var(--cor02);
    color: black; 
    padding: 5px;  
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    line-height: 1.5em; /*espaçamento entre linhas*/
    text-indent: 30px;
    text-align: justify;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem >p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/negra.jpg);
    background-position: right center;
    
}

section#img02 {
    background-image: url(../imagens/Mané\ Tico.jpg);
}

.restalracoes {
    background-color: rgb(103, 103, 226);
    font-family: var(--fonte2);
    color: white;
    font-size: 2vw;
    text-align: center;
    padding: 5px;
}

#restalracao > img {
    width: 200px;
    height: 300px;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}